<form action="users" enctype='multipart/form-data', method='post'>
  <input id="titleInput" type="text" name="titleInput" value="">
  <input id="sup" type="text" name="sup" value="">
  <input id='image' name='image'  type='file' accept='image/*'>
  <input type="submit" name="submit" value="submit">
</form>
