[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
sqlalchemy = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pysam = "*"


[requires]

python_version = "3.5"
