svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.reads{
  fill: #000;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FF8800;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

th.des:after {
    content: "\21E9";
}

th.aes:after {
    content: "\21E7";
}

